@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  font-family:  'Nunito Sans', sans-serif;
    /* (Dark Mode Elements) */
  --darkBlue: hsl(209, 23%, 22%);
    /* (Dark Mode Background) */
  --veryDarkBlue: hsl(207, 26%, 17%);
    /* (Light Mode Text) */
  --veryDarkBlueText: hsl(200, 15%, 8%);
    /* (Light Mode Input) */
  --darkGray: hsl(0, 0%, 52%);
    /* (Light Mode Background) */
  --veryLightGray: hsl(0, 0%, 98%);
    /* (Dark Mode Text & Light Mode Elements) */
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.lightMode, .darkMode {
  height: 100%;
}

.lightMode {
  background-color: var(--veryLightGray);
  color: var(--veryDarkBlueText)
}

.darkMode {
  background-color: var(--veryDarkBlue);
  color: var(--white)
}

/* ================== HEADER ===================== */


.lightHeader, .darkHeader {
  height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lightHeader > span, .darkHeader > span {
  font-weight: 800;
}

.lightHeader > button,
.darkHeader > button {
  background: none;
  border: none;
  color: inherit;
}

.lightHeader > button:hover,
.darkHeader > button:hover,
.lightHeader > span:hover,
.darkHeader > span:hover {
  opacity: .8;
  cursor: pointer;
}

.lightHeader {
  background-color: var(--white);
}

.darkHeader {
  background-color: var(--darkBlue);
}

/* ======================= SUB HEADER ==================== */

.searchBars {
  position: relative;
  width: 100%;
  height: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
}

/* ===================== SEARCH BAR ============================ */

.nameSearchBar {
  width: 33%;
  height: 2.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: .2rem;
}

.nameSearchBar > input {
  height: 100%;
  width: 85%;
  border: none;
  background: none;
  font-family: inherit;
}

.searchDark {
  background-color: var(--darkBlue);
  box-shadow: 0 0 .2rem hsl(207, 26%, 10%);
}

.searchLight {
  background-color: var(--white);
  box-shadow: 0 0 .2rem gray;
}

/* ======================= REGION FILTER ========================== */

.regionFilterContainer {
  position: absolute;
  right: 1.5rem;
  width: 18%;
}

.regionInputBar {
  width: 100%;
  height: 2.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .8rem;
  border-radius: .2rem;
}

.regionsDropdown {
  position: absolute;
  top: 3rem;
  right: 0;
  width: 100%;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  border-radius: .2rem;
  animation: quickDrop .1s ease-in;
}

.regionInputBar > span:hover,
.regionsDropdown > span:hover {
  cursor: pointer;
  opacity: .7;
}



/* ======================= MAIN CONTENT ====================== */

.countriesMain {
  position: relative;
  background: none;
  height: 100%;
}

.cardsContainer {

  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.hideCards { display: none }
.showCards { opacity: 1 }


/* ========================= CARD ============================== */

.lightCard, .darkCard {
  position: relative;
  margin: 1.5rem;
  width: 12rem;
  height: 20rem;
  border-radius: .3rem;
  transition: all .2s ease-in-out;

}

.lightCard {
  background-color: var(--white);
  box-shadow: 0 0 .2rem gray;
}

.darkCard {
  background-color: var(--darkBlue);
  box-shadow: 0 0 .2rem hsl(207, 26%, 10%);
}

.cardDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cardContent {
  margin: 1rem;
}

.cardContent > h4 {
  margin-bottom: 1rem;
}

.cardDiv > img {
  width: 12rem;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.lightCard:hover,
.darkCard:hover {
  transform: scale(1.02);
  cursor: pointer;
}


/* ============================ VIEW MODAL ========================= */

.show { background: none; }

.hide { display: none }

.viewCountryCnt {
  position: absolute;
  padding: 3rem;
  top: -5rem;
  left: 0;
  width: 100%;
  height: 1000px;
  animation: fadeIn .2s;
  z-index: 1000;
}

.darkModeViewPage {
  background-color: var(--veryDarkBlue);
  color: var(--white)
}

.lightModeViewPage {
  background-color: var(--veryLightGray);
  color: var(--veryDarkBlueText)
}

.btnContainer {
  width: 100%;
  height: 5rem;
}

.viewContent {
  width: 100%;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'viewLeftCol viewRightCol';
}

.imgContainer {
  position: relative;
  width: 85%;

}

.imgContainer > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


.viewLeftCol {
  grid-area: viewLeftCol;
  height: 50vh;

}

.viewRightCol {
  grid-area: viewRightCol;
  padding-top: 1.5rem;
  padding-bottom: 5.5rem;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
          'viewTitle viewTitle'
          'leftUl rightUl'

          'borderCountries borderCountries';
}

.viewTitle {
  grid-area: viewTitle;
}

.leftUl {
  grid-area: leftUl;
}

.rightUl {
  grid-area: rightUl;
}

.leftUl, .rightUl {
  font-size: .7rem;
}

.borderCountries {
  grid-area: borderCountries;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.borderBtn {
  padding-left: .2rem;
  padding-right: .2rem;
  font-size: .7rem;
}

.backBtn {
  width: 5rem;

}

.borderBtn,
.backBtn {
  height: 1.5rem;
  border: none;
  border-radius: .2rem;
  color: inherit;
}

.borderBtn:hover,
.backBtn:hover {
  cursor: pointer;
  opacity: .8;
  transition: .2s ease-in-out;
}

.lightBtn {
  background-color: var(--white);
  box-shadow: 0 0 .2rem gray;
}

.darkBtn {
  background-color: var(--darkBlue);
  box-shadow: 0 0 .2rem hsl(207, 26%, 10%);
}

footer {
  width: 100%;
  height: 600px;
}

@keyframes quickDrop {
  0% {transform: translateY(-3rem); opacity: 0}
  100% {transform: translateY(0); opacity: 1}
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@media screen and (max-width: 500px) {
  .searchBars {
    height: 10rem;
    flex-direction: column;
  }

  .nameSearchBar {
    margin-top: 1.5rem;
    width: 100%;
  }

  .regionFilterContainer {
    width: 55%;
    top: 5.5rem;
    left: 1.5rem;

  }

  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }

  .lightCard, .darkCard {
    width: 75%;
    height: 30rem;
  }

  .cardDiv > img {
    width: 100%;
    height: 50%;
  }

  .cardContent {
    margin-top: 3.5rem;
  }

  .viewLeftCol {
    height: 12rem;
  }

  .viewContent {
    grid-template-columns: 1fr;
    grid-template-areas:
            'viewLeftCol'
            'viewRightCol';
  }

  .viewRightCol {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
            'viewTitle'
            'leftUl'
            'rightUl'
            'borderCountries';
    grid-gap: 1rem
  }
}
